In [6]:
#!pip install pandas

SyntaxError: invalid syntax (2707635980.py, line 2)

In [2]:
import pandas as pd
df = pd.read_csv("data.csv")
df.head()

,date,client,bank,rating,review,developer_response,service,sentiment,intent,recommendation
0,6/3/2024 8:36,Apple,GXS,4,Great banking app with attractive interest rat...,"{'id': 42449861, 'body': ""Hi Eugene! We're thr...",C,Negative,Praise,H
1,9/11/2022 3:13,Apple,GXS,5,"A bank like no other, no bank have such amazin...","{'id': 33087200, 'body': ""Hi Dfdsa132! We're d...",D,Negative,Feedback,G
2,9/9/2023 8:33,Apple,GXS,1,Notice that the drop in interest rate of 0.8% ...,"{'id': 38832230, 'body': 'Hi there! We’re sorr...",D,Negative,Complaint,G
3,27/6/2023 4:01,Apple,GXS,2,Sending money into my GXS account is a breeze ...,"{'id': 37376460, 'body': 'Hi Kenny, thank you ...",D,Neutral,Feedback,G
4,2/10/2022 4:17,Apple,GXS,5,I have to say that the UI/UX is one of the bes...,"{'id': 32373818, 'body': 'Hi Mephosis, we are ...",C,Neutral,Praise,E

In [31]:
df_2 = df.loc[:, ~df.columns.isin(['developer_response', 'recommendation'])]
df_2.head()

,date,client,bank,rating,review,service,sentiment,intent
0,6/3/2024 8:36,Apple,GXS,4,Great banking app with attractive interest rat...,C,Negative,Praise
1,9/11/2022 3:13,Apple,GXS,5,"A bank like no other, no bank have such amazin...",D,Negative,Feedback
2,9/9/2023 8:33,Apple,GXS,1,Notice that the drop in interest rate of 0.8% ...,D,Negative,Complaint
3,27/6/2023 4:01,Apple,GXS,2,Sending money into my GXS account is a breeze ...,D,Neutral,Feedback
4,2/10/2022 4:17,Apple,GXS,5,I have to say that the UI/UX is one of the bes...,C,Neutral,Praise

In [23]:
df_2.dtypes

date         string[python]
client               object
bank                 object
rating                int64
review               object
service              object
sentiment            object
intent               object
dtype: object

In [32]:
df_2['date'] = df_2['date'].astype("string")

C:\Users\caleb\AppData\Local\Temp\ipykernel_76832\4252599721.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['date'] = df_2['date'].astype("string")

In [16]:
df_2.dtypes

date         string[python]
client               object
bank                 object
rating                int64
review               object
service              object
sentiment            object
intent               object
date_only            object
dtype: object

In [7]:
from datetime import datetime

In [33]:
df_2['date'].head()

0     6/3/2024 8:36
1    9/11/2022 3:13
2     9/9/2023 8:33
3    27/6/2023 4:01
4    2/10/2022 4:17
Name: date, dtype: string

In [ ]:
df_2['date'] = df_2['date'].apply(lambda x: datetime.strptime(x, "%d/%m/%Y %H:%M"))
df_2['month_year'] = df_2['date'].apply(lambda x: x.strftime("%m-%y"))
df_2 = df_2.loc[:, ~df_2.columns.isin(['date'])]

In [40]:
df_3 = df_2.rename(columns={"month_year": "date"})
df_3.head()

,client,bank,rating,review,service,sentiment,intent,date
0,Apple,GXS,4,Great banking app with attractive interest rat...,C,Negative,Praise,03-24
1,Apple,GXS,5,"A bank like no other, no bank have such amazin...",D,Negative,Feedback,11-22
2,Apple,GXS,1,Notice that the drop in interest rate of 0.8% ...,D,Negative,Complaint,09-23
3,Apple,GXS,2,Sending money into my GXS account is a breeze ...,D,Neutral,Feedback,06-23
4,Apple,GXS,5,I have to say that the UI/UX is one of the bes...,C,Neutral,Praise,10-22

In [41]:
df_3["id"] = df_3.index + 1
df_3.head()

,client,bank,rating,review,service,sentiment,intent,date,id
0,Apple,GXS,4,Great banking app with attractive interest rat...,C,Negative,Praise,03-24,1
1,Apple,GXS,5,"A bank like no other, no bank have such amazin...",D,Negative,Feedback,11-22,2
2,Apple,GXS,1,Notice that the drop in interest rate of 0.8% ...,D,Negative,Complaint,09-23,3
3,Apple,GXS,2,Sending money into my GXS account is a breeze ...,D,Neutral,Feedback,06-23,4
4,Apple,GXS,5,I have to say that the UI/UX is one of the bes...,C,Neutral,Praise,10-22,5

In [42]:
df_4 = df_3[['id', 'date', 'bank', 'client', 'rating', 'sentiment', 'intent', 'service','review']]
df_4.head()

,id,date,bank,client,rating,sentiment,intent,service,review
0,1,03-24,GXS,Apple,4,Negative,Praise,C,Great banking app with attractive interest rat...
1,2,11-22,GXS,Apple,5,Negative,Feedback,D,"A bank like no other, no bank have such amazin..."
2,3,09-23,GXS,Apple,1,Negative,Complaint,D,Notice that the drop in interest rate of 0.8% ...
3,4,06-23,GXS,Apple,2,Neutral,Feedback,D,Sending money into my GXS account is a breeze ...
4,5,10-22,GXS,Apple,5,Neutral,Praise,C,I have to say that the UI/UX is one of the bes...

In [43]:
df_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         1094 non-null   int64
 1   date       1094 non-null   object
 2   bank       1094 non-null   object
 3   client     1094 non-null   object
 4   rating     1094 non-null   int64
 5   sentiment  1094 non-null   object
 6   intent     1094 non-null   object
 7   service    1094 non-null   object
 8   review     1094 non-null   object
dtypes: int64(2), object(7)
memory usage: 77.1+ KB

In [45]:
df_4.to_csv("placeholder_data.csv")

In [47]:
ph = pd.read_csv("placeholder_data.csv")
ph.head()

,id,date,bank,client,rating,sentiment,intent,service,issue,review
0,1,45352,GXS,Apple,4,Negative,Praise,C,C1,Great banking app with attractive interest rat...
1,2,44866,GXS,Apple,5,Negative,Feedback,D,D1,"A bank like no other, no bank have such amazin..."
2,3,45170,GXS,Apple,1,Negative,Complaint,D,D1,Notice that the drop in interest rate of 0.8% ...
3,4,45078,GXS,Apple,2,Neutral,Feedback,D,D1,Sending money into my GXS account is a breeze ...
4,5,44835,GXS,Apple,5,Neutral,Praise,C,C1,I have to say that the UI/UX is one of the bes...